body{
    background-image: url("../img/bgstars.jpg");
    color: #d4d4d4
}

.altfavList {
    color: #131313
}

.blogSubtitle{
    color: #ffffff
}

.singleContent{
    color: #d4d4d4;
}

.card{
    color: #131313
}
