body{
    background-image: url("../img/bgstars.jpg");
    color: #202020
}

.altfavList {
    color: #131313
}

.blogSubtitle{
    color: #ffffff
}

.singleContent{
    color: #141414;
}

.card{
    color: #131313
}
